@page "/"
@using Chirp.Core
@using Chirp.Web.Pages
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Web.Pages.PublicModel
@inject SignInManager<Author> SignInManager   

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @if (SignInManager.IsSignedIn(User) )
    {
        <div class="cheepbox">
            <h3>Send cheep:</h3>
            <form method="post">
                <input type="text"  asp-for="CheepMessage">
                <input type="submit" value="Share">
            </form>
        </div>
    }
</div>

<div>
    <h2> Public Timeline </h2>


    @{
        System.Diagnostics.Debug.Assert(Model.Cheeps != null, "Model.Cheeps != null");
    }
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
