@page "/top-cheeps"
@model Chirp.Web.Pages.TopCheeps
<!-- TODO get a better endpoint-->
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<h2> Top Cheeps </h2>

@await Component.InvokeAsync("Timeline", new {model = this.Model})