@page "/topcheeps"
@using Chirp.Core
@model Chirp.Web.Pages.TopCheeps
@inject SignInManager<Author> SignInManager 

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>