@using Chirp.Web.Pages
@model CheepBinder
    

<div class="cheepbox">
    <h3>Send cheep:</h3>
    <form method="post">
        <input type="text"  asp-for="CheepMessage">
        <input type="submit" value="Share">
    </form>
</div>
